.popup {
    position        : fixed;
    left            : 0;
    top             : 0;
    background-color: rgba(0, 0, 0, 0.44);
    width           : 100%;
    height          : 100%;
    font-size       : 12px;
    z-index         : 100;
}

.popup .content {
    font-family     : "Helvetica Neue", Arial, Helvetica, sans-serif;
    position        : relative;
    margin          : 20px auto;
    background-color: white;
    width           : auto;
    max-width       : 500px;
    height          : auto;
    border-radius   : 5px;
    padding         : 20px;
    line-height     : 1.4em;
}

.popup .content img {
    height  : 32px;
    width   : 28px;
    top     : -5px;
    position: relative;
}

.popup .content .info {
    background-color: #dddddd;
    padding         : 12px;
    border-radius   : 3px;
    margin          : 10px 0 0 0;
    color           : #3f3f3f;
}

.fa-times {
    position : absolute;
    top      : 10px;
    right    : 10px;
    font-size: 20px;
    cursor   : pointer;
}