<div class="wrapper">
    <span class="select active" [class.active]="isDropdown" (click)="openDropdown()">{{ selectMessage }}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </span>
    <a [class.disabled]="!selectItems[selectItem.id].value" *ngFor="let selectItem of getSelectItems()"
        (click)="toggleProperty(selectItem.id)">
        <img *ngIf="selectItems[selectItem.id].icon" height="32" width="28" src="assets/img/marker/{{ selectItems[selectItem.id].icon }}" />
        {{ selectItem.name }}
    </a>
</div>